.about-image {
  width: 100vw;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}


.about-image img {
  height: auto;
  width: 90%;
  object-fit: cover;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin-bottom: calc(10vw)
}


.about-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-text p {
  width: 90%;

}

.about-text h3 {
  width: 90%;
}

.about-image a {
  text-align: center;
}
