.about-image {
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}


.about-image img {
  height: auto;
  width: 100%;
  object-fit: cover;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

// .col-about-text {
//   color: white;
//   background-color: black;
//   display: flex;
//   align-items: center;
//   justify-content: center;
// }


.about-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-text p {
  width: 90%;

}

.about-text h3 {
  width: 90%;
}

.about-image a {
  text-align: center;
}
