// Specific CSS for your home-page

body {
  background-color: white;
}

.portfolio-image {
  width: 100vw;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.portfolio-image img {
  height: auto;
  width: 90%;
  object-fit: cover;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);

}

.portfolio-image a {
  text-align: center;
}

.portfolio-image h6 {
  width: 90%;
  margin-top: 10px;
  margin-bottom: 30px;
  // text-align: center;
}

.arrow {
  width: 100vw;
  margin-bottom: 5px;
}

.right {
  width: 45vw;
  height: 40px;
  text-decoration: none;
  color: black;
  font-size: 20px;
}

.left {
  width: 45vw;
  height: 40px;
  text-decoration: none;
  color: black;
  font-size: 20px;
}

.chev {
  font-size: 30px;
  color: black;
}

.chev-text {
  color: black;
}
