// Specific CSS for your home-page

body {
  background-color: white;
}

.mycontainer {
  padding-left: 4vw;
  padding-right: 4vw;
  padding-top: 3.3vw;
  padding-bottom: 3.3vw;
}

@media only screen and (min-width: 960px) {
  .col-l {
    padding-right: 2vw;

  }

  .col-r {
    padding-left: 2vw;
  }
}

.portfolio-image {
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.portfolio-image img {
  height: auto;
  width: 100%;
  object-fit: cover;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: block;

}

.portfolio-image a {
  text-align: center;
}

.portfolio-image p {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 70px;
  font-size: 22px;
  font-weight: 400;

  // text-align: center;
}

.arrow {
  // width: 100vw;
  margin-bottom: 5px;
}

.right {
  width: 45vw;
  height: 40px;
  text-decoration: none;
  color: black;
  font-size: 20px;
}

.left {
  width: 45vw;
  height: 40px;
  text-decoration: none;
  color: black;
  font-size: 20px;
}

.chev {
  font-size: 30px;
  color: black;
}

.chev-text {
  color: black;
}

.text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.intro-text p {
  width: 100%;
  font-size: 22px;
  line-height: 33px;
  color: black;
  // border: 3px solid;
  // padding: 16px;

}

.contact-text p {
  width: 100%;
}

.work-together-link {
  color: black;
  font-size: 22px;
  line-height: 33px;
}

.submit-btn {
  color: black;
  background: white;
  border: 3px solid black;
  padding: 18px;
  margin-bottom: 22px;
  font-size: 18px;
}

.submit-btn:hover {
  color: white;
  background: black;
  border: 3px solid black;
  padding: 18px;
  margin-bottom: 22px;
  font-size: 18px;
}

