.navigation {
  height: calc(80vh - 60px);
  background-color: white;
}

.contact-links {
  height: 20vh;
  background: white;
}



.navigation a {
  margin-bottom: 25px;
  text-decoration: none;
  color:  inherit;
}

.navbar-toggler i {
  color: black;
  font-size: 25px;
  height: 25px;
  width: 25px;
}

.navcontainer {
  width: 100%;
  box-sizing: border-box;

  padding-left: 4vw;
  padding-right: 4vw;
  pointer-events: auto;
  background-color: white;

}

.fa-github, .fa-linkedin-in  {
  margin: 0px 5px;
  color: black
}
