.travelpin-image {
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}


.travelpin-image img {
  height: auto;
  width: 30%;
  object-fit: cover;
  margin-bottom: calc(10vw);

}


.carousel-indicators li {
  background-color: black;
}

.carousel-indicators {
  position: relative;
}
