.travelpin-image {
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}


.travelpin-image img {
  height: auto;
  width: 30%;
  object-fit: cover;
  margin-bottom: calc(6vw);

}

@media only screen and (max-width: 900px) {
  .travelpin-image img {
    width: 50%;
  }
}


.carousel-indicators li {
  background-color: black;
}

.carousel-indicators {
  position: relative;
  color: transparent;
}

.travelpin-carousel-text p {
  border: 3px solid #96d1c7;
  color: #96d1c7;
  padding: 10px;
  // min-height: 146px;
}
