<div class="d-flex justify-content-around align-items-center" style="height: 35px; position: sticky; bottom: 0px; background-color: white" >
  <a href="https://www.linkedin.com/in/shah-ashna/">
    <i class="fab fa-linkedin-in"></i>
  </a>
  <a href="https://www.instagram.com/a5hna_s/">
    <i class="fab fa-instagram"></i>
  </a>
  <a href="https://github.com/a5hna">
    <i class="fab fa-github"></i>
  </a>
</div>
