<div class="pad">
</div>
<div class="text intro-text font-weight-light mb-4">
  <p>Ashna Shah is a passionate web and application developer based in London. With a clean and elegant aesthetic, she wants to build beautiful digital products that enhance and simplify everyday life.</p>
</div>
<div class="about-image">
  <%= image_tag "ashna1.JPG", alt: "alttext" %>
</div>

<div class="about-text">
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
</div>
