<div class="mycontainer">

  <div class="row mb-3">
    <div class="col-l col-about-text col-12 col-md-6">
      <p>Ashna Shah is a passionate web and mobile application developer based in London. Her mission is to provide creative solutions to technological problems. With a key interest in design, her aesthetic is simple, clean and elegant.</p>
    </div>
    <div class="col-r col-12 col-md-6">
      <div class="about-image">
        <%= image_tag "ashna1.JPG", alt: "alttext" %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col col-12 col-md-6">
      <p>After completing an undergraduate degree in Mathematics, Ashna worked as a Data Analyst for 2 years before deciding to pursue a career in Tech. Through self learning and attending a Full Stack Web Development Bootcamp in Bali, she learnt to code and gained the skills necessary to become a developer. Fast-forward back to London, Ashna is currently working as a Junior iOS & Android App Developer within the PropTech sector.</p>
    </div>
  </div>

</div>
