<div class="pad">
</div>

<div class="container">
<div class="text intro-text mb-4">
  <p>If you have a project in mind, please complete the form below to send your enquiry.</p>
</div>
<form>
  <label>Name</label>
  <div class="form-row form-group">
    <div class="col">
      <input type="text" class="form-control" id="firstName">
      <small class="form-text text-muted" for="firstName">First Name</small>
    </div>
    <div class="col">
      <input type="text" class="form-control" id="lasttName">
      <small class="form-text text-muted" for="lastName">Last Name</small>
    </div>
  </div>    
  <div class="form-group">
    <label for="exampleInputEmail1">Email</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    <%# <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> %>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Business Name</label>
    <input type="text" class="form-control" id="exampleInputPassword1">
  </div>
   <div class="form-group">
    <label for="describeBusiness">Please describe your business.</label>
    <input type="text" class="form-control" id="describeBusiness" >
  </div>
   <div class="form-group">
    <label for="exampleInputPassword1">Please describe your project.</label>
    <input type="text" class="form-control" id="exampleInputPassword1" >
  </div>
   <div class="form-group">
    <label for="exampleInputPassword1">Additional comments?</label>
    <input type="text" class="form-control" id="exampleInputPassword1" >
  </div>

  <button type="submit" class="submit-btn">Submit</button>
</form>
</div>
