<div class="pad">
</div>
<div class="portfolio-image">
  <%= link_to travelpin_path do  %>
    <%= image_tag "travelpin.jpg", alt: "alttext" %>
  <% end %>
  <h6>TravelPin</h6>
 </div>
<div class="portfolio-image">
  <%= link_to skuter_path do %>
    <%= image_tag "skuter2.jpg", alt: "alttext" %>
  <% end %>
  <h6>Skuter</h6>
</div>
<div class="text intro-text font-weight-light">
  <p>Ashna Shah is a passionate web and application developer based in London. With a clean and elegant aesthetic, she wants to build beautiful digital products that enhance and simplify everyday life.</p>
  <p class="mt-4"><u>Let's work together.</u></p>
</div>
<div class="text contact-text mt-5">
  <p class="mb-2">a5hna@hotmail.co.uk</p>
  <p>+447835078360</p>
</div>
