<div class="pad">
</div>
<div class="portfolio-image">
  <%= link_to travelpin_path do  %>
    <%= image_tag "travelpin.jpg", alt: "alttext" %>
  <% end %>
  <h6>TravelPin</h6>
 </div>
<div class="portfolio-image">
  <%= link_to skuter_path do %>
    <%= image_tag "skuter2.jpg", alt: "alttext" %>
  <% end %>
  <h6>Skuter</h6>
</div>
