<div class="pad">
</div>
<div class="about-image">
  <%= link_to travelpin_path do  %>
    <%= image_tag "travelpin.jpg", alt: "alttext" %>
  <% end %>
 </div>
<div class="about-image">
  <%= link_to skuter_path do %>
    <%= image_tag "skuter2.jpg", alt: "alttext" %>
  <% end %>
</div>
