<div class="pad"></div>
<div class="about-text">
  <h3 class="mb-4">Skuter</h3>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
</div>
<div class="pad"></div>
<div class="skuter-image">
  <%= image_tag "skuter1.png", alt: "alttext" %>
</div>
<div class="skuter-image">
  <%= image_tag "skuter2.png", alt: "alttext" %>
</div>
<div class="skuter-image">
  <%= image_tag "skuter3.png", alt: "alttext" %>
</div>
<div class="arrow d-flex justify-content-center mt-2">
  <div class="left mb-3">
    <a href="travelpin">
      <div class="d-flex float-left align-items-center">
      <i class="fas fa-chevron-left chev mr-4"></i>
      <p class="m-0 chev-text">TravelPin</p>
      </div>
    </a>
  </div>
  <div class="right mb-3">
  </div>
</div>
