<div class="mycontainer">
  <div class="row">
    <div class="col col-12 col-md-6">
      <h3 class="mb-4">Skuter</h3>
      <p>During my time in Bali, I noticed that the best way to get around was by scooter. All the locals had one, and if you didn’t you’d face being stuck in a car traffic jam, or walking everywhere. A few of my friends did short term rental, but it took plenty of searching around before they were able to find something suitable within the area. So naturally, during airbnb project week of the bootcamp, renting & rental of scooters came to mind, and Skuter was born.</p>
      <p style="color: grey">Skuter – Indonosian translation for the word Scooter</p>
    </div>
  </div>

  <div class="pad"></div>

  <div class="row">
    <div class="col col-12 col-md-6">
      <div class="skuter-image">
        <%= image_tag "skuter1.png", alt: "alttext" %>
      </div>
    </div>
    <div class="col col-12 col-md-6">
      <p>Skuter was envisioned with adventure in mind. Our persona is the thrill seeking young professional, who enjoys travelling and wants a unique experience whilst exploring a new place. </p>
    </div>
  </div>


  <div class="row">
    <div class="col col-12 col-md-6">
      <div class="skuter-image">
        <%= image_tag "skuter2.png", alt: "alttext" %>
      </div>
    </div>
    <div class="col col-12 col-md-6">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>
  </div>

  <div class="row">
    <div class="col col-12 col-md-6">
      <div class="skuter-image">
        <%= image_tag "skuter3.png", alt: "alttext" %>
      </div>
    </div>
    <div class="col col-12 col-md-6">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>
  </div>

  <div class="arrow d-flex justify-content-center mt-2">
    <div class="left mb-3">
      <a href="travelpin">
        <div class="d-flex float-left align-items-center">
        <i class="fas fa-chevron-left chev mr-4"></i>
        <p class="m-0 chev-text">TravelPin</p>
        </div>
      </a>
    </div>
    <div class="right mb-3">
    </div>
  </div>
</div>
